1.1 Read movies and merge rantings

In [18]:
import numpy as np
import pandas as pd

movies = pd.read_csv('Movies.csv', sep=',')
ratings = pd.read_csv('Ratings.csv', sep=';')

df = movies.merge(ratings, on="movieId")

df.head()

,movieId,title,genres,year,userId,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,4.0
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,5,4.0
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,7,4.5
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.5
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,17,4.5

2.1 Filter data

In [37]:
movies_table = pd.pivot_table(df, index='title', columns='userId', values='rating').fillna(0)
movies_table.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
import sklearn.metrics.pairwise as pw

rec = pw.cosine_similarity(movies_table)
rec_df = pd.DataFrame(rec, columns=movies_table.index, index=movies_table.index)
rec_df.head()

title,'71,'Hellboy': The Seeds of Creation,'Round Midnight,'Salem's Lot,'Til There Was You,'Tis the Season for Love,"'burbs, The",'night Mother,(500) Days of Summer,*batteries not included,...,Zulu,[REC],[REC]²,[REC]³ 3 Génesis,anohana: The Flower We Saw That Day - The Movie,eXistenZ,xXx,xXx: State of the Union,¡Three Amigos!,À nous la liberté (Freedom for Us)
title,,,,,,,,,,,,,,,,,,,,,
'71,1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.141653,0.0,...,0.0,0.342055,0.543305,0.707107,0.0,0.0,0.139431,0.327327,0.0,0.0
'Hellboy': The Seeds of Creation,0.0,1.000000,0.707107,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Round Midnight,0.0,0.707107,1.000000,0.000000,0.000000,0.0,0.176777,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Salem's Lot,0.0,0.000000,0.000000,1.000000,0.857493,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0
'Til There Was You,0.0,0.000000,0.000000,0.857493,1.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0

In [33]:
cossine_df = pd.DataFrame(rec_df['Thor'].sort_values(ascending=False))
cossine_df.columns = ['Recommendations']
cossine_df.head(20)

                                             Recommendations
title
Thor                                                1.000000
Captain America: The First Avenger                  0.747897
Thor: The Dark World                                0.665274
Avengers: Age of Ultron                             0.641065
Incredible Hulk, The                                0.637537
X-Men: First Class                                  0.622999
X-Men: Days of Future Past                          0.617222
Avengers, The                                       0.597131
Guardians of the Galaxy                             0.594758
Iron Man 2                                          0.587761
Sherlock Holmes: A Game of Shadows                  0.585348
Iron Man                                            0.581760
X-Men Origins: Wolverine                            0.578805
Star Trek Into Darkness                             0.560819
Man of Steel                                        0.558472
Pirates of the Caribbean: On Stranger Tides         0.552905
Amazing Spider-Man, The                             0.552326
Watchmen                                            0.539316
Spider-Man 3                                        0.536009
Pirates of the Caribbean: At World's End            0.534183